.card {
    display: grid;
    cursor: pointer;
    border-radius: 3px;
    margin: 0.7rem;
    padding: 0.7rem;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0);
    transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.4s ease-out;

    /* Reset button styles */
    border: none;
    text-align: left;
}

.card * {
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0.25rem var(--shadow-depth) rgba(0, 0, 0, 0.2);
}

.card__title {
    display: block;
    font-size: 1.2rem;
    color: var(--primary);
    margin: 0 0 0.1rem;
}

.card__desc {
    display: block;
    font-size: 0.9rem;
    margin: 0 0 0.6rem;
}

.class_seperator {
    margin: 0.4rem 0;
}

.card__info * {
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 800;
}

.card__language {
    color: var(--accent);
}